
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tiro+Bangla&display=swap');
    :root {
       /* --body-bg: #d99e55;
       ; */
       --start_quiz-c: #1d9eab;
       --white: rgba(255, 255, 255, 0.4);
       --bg-button: #e0e0e0;
       --right: #87e487;
       --wrong: #f19a9a;
   }
   
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   
   body {
       font-family: "Raleway", sans-serif;
       height: 100vh;
       background-image: url("medical-education-2.png");
       /* background-image:linear-gradient(#155091, transparent); */
       background-size: cover;
       
   }
   
   input,
   button,
   h1,
   span {
       outline: 0;
       border: 0;
       font-family: "Raleway", sans-serif;
   }
   /* center all box  */
   .modal-backdrop{
    display:none !important;
   }
   .start{
       position: absolute;
       /* top:50%; */
       top: 27%;
   left: 50%;
       transform: translate(-50%, -50%);
       border-radius: 50px;
       /* background: var(--white); */
       background-color:#1977cc !important;
       /* box-shadow: 15px 15px 24px #5f7197, -15px -15px 20px #df0e86; */
       box-shadow: 15px 15px 24px #5f7197;
       
   }


   .quiz_container,
.result_box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    /* background: var(--white); */
    background: white;

    /* background-color:#1977cc !important; */
    /* box-shadow: 15px 15px 24px #5f7197, -15px -15px 20px #df0e86; */
    box-shadow: 15px 15px 24px #5f7197;

}
   .result_box{
 
   padding: 138px;
   width: 485px;
   height: 354px;
   border-radius: 5px;

} 

h3{
    font-size:1.3rem;
}

   .start #start_quiz {
       padding:16px 30px;
   border-radius: 50px;
   /* color: var(--start_quiz-c); */
   /* color: #155091; */
   color: #fff;
   font-size: 1.3rem;
   /* width: 135%; */
   /* border-right: 3px solid #155091; */
   /* border-bottom: 5px solid #155091;
   border-right: 4px solid #155091; */
   }
   /* quiz box  */
   
   .quiz_container {
       border-radius: 20px;
       padding: 20px;
       /* width: 600px; */
       width: 550px;
       display: none;
   }
   /* quiz_text  */
   
   .quiz_container .quiz_text {
       margin-bottom: 20px;
   }
   
   .quiz_container .quiz_text h1 {
       font-size: 1.5rem ;
       letter-spacing: 2px;
       text-align: center;
   }
   /* quiz_box  */
   
   .quiz_box {
       padding: 10px 5px;
   }
   
   .quiz_box .quiz_question h1 {
       font-size: 2.5vmin ;
   }
   
   .quiz_box .quiz_question p {
       display: inline;
   }
   /* options  */
   
   .option_list {
       margin-top: 15px;
       font-size: 2vmin;
       padding: 5px 15px;
       background-color: var(--bg-button);
       border-radius: 5px;
       cursor: pointer;
       transition: 0.5s ease;
       user-select: none;
       /* box-shadow: 1px 1px 8px #bebebe, -1px -1px 20px #ffffff */
   }

   
   .options .option_list:hover {
       background-color: var(--start_quiz-c);
   }
   
   .options .option_list.correct {
       background-color: var(--right);
   }
   
   .options .option_list.wrong {
       background-color: var(--wrong);
   }
   
   .disabled {
       pointer-events: none;
   }
   /* footer  */
   
   footer {
       margin-top: 15px;
       display: flex;
       align-items: center;
       justify-content: space-between;
       user-select: none;
   }
   
   .center {
       display: flex;
       font-size: 2vmin;
       margin-left: 6px;
   }

   
   
   footer .buttons {
       margin-right: 6px;
   }
   
   .btn {
       padding: 7px 15px;
       border-radius: 50px;
       /* background: var(--start_quiz-c); */
       background: #155091 !important;
       /* color: var(--white); */
       font-size: 2vmin;
       cursor: pointer;
       color:white;
       
   width: 100%;
   /* margin-right: 77px; */

   }
.w-4{
    width:49% !important;
}
   
   /* score  */

   .result_box {
       display: none;
       padding: 20px;
       text-align: center;
   }
   
   .score span {
       margin: 15px 0;
       display: flex;
       justify-content: center;
       font-size: 1.3rem;
       font-weight: 600;
   }
   
   span p {
       padding: 0 5px;
   }
   
   #quizQn {
       padding: 20px;
       /* background: #4c93ba; */
       background: #155091;
       color: #fff;
       font-size: 24px;
       border-radius: 10px;
   }


   
   .btn:hover {
       background-color: #4c93ba !important;
   }
   .btn1 {
   padding: 7px 15px;
       border-radius: 50px;
       /* background: var(--start_quiz-c); */
       background: #155091;
       /* color: var(--white); */
       font-size: 1rem;
       cursor: pointer;
       color:white;
   width: 100%;
   margin-right: 0px;

   }

   .skin {
   width:640px;
   margin:10px auto;
   padding:5px;
}
nav {
   width:70px;
   height:22px;
   padding: 5px 0px;
   margin: 0 auto;
}
.mod{
   color: white;
  margin-top: 12px;
  /* margin-bottom:10px; */
   width:100%;
   text-align:center;
   font-weight: 300;
   font-size: larger;
}

/* .modal{
    top:-28px;
    bottom:-28px;
} */
/* .modal-open .modal{
    overflow-x: hidden;
    overflow-y: hidden;
} */

@media (min-width: 576px){
.modal-dialog {
    max-width: 500px;
    margin: 0 auto;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 425px){
     /* For portrait layouts only */
     .quiz_box .quiz_question h1 {
       font-size: 4.5vmin ;
   }

   .option_list {
    font-size: 3.8vmin;
    padding: 32px 17px;
}

   /* .option_list {
       font-size: 3vmin;
       padding:32px 17px;
   } */
   .quiz_container .quiz_text h1 {
       font-size: 3rem;
       
   }

   .quiz_container{
       width: 830px;
   }
 
   /* .btn {
       font-size:3vmin;
   } */

   /* .btn {
    font-size: 4vmin;
} */

   .btn{
    font-size: 4vmin;
    font-weight:bold;
}



   .score span {
       font-size:5vmin;
   }
   .start #start_quiz {
    font-size: 4vmin;
    width: 140%;
   }
   .start{
    left: 38%;
   }

   .center{
    /* font-size: 4vmin; */
    font-size: 3.5vmin;
}

.result_box{
    width:860px;
    height: 40%;

}

.btn1{
    font-size:3.5vmin;
}


.modal-content{
    width:171%;
    height: 100%;
}
.text-field{
    font-size: 4vmin;
}
.modal-title{
    font-size: 5vmin;
}

.star{
    font-size: 7vmin;
}

.close{
    font-size: 3.5rem;
}

.modal-dialog{
    right: 175px;
    bottom: 23px;
}
   }